@import "tailwindcss";

html,
body,
#root {
	height: 100%;
}

body {
	margin: 0;
	font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.custom-marker {
	background: transparent;
	border: 0;
}